<nav class="bg-white shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a href="/" class="text-xl font-bold">Your Local Store</a>
      </div>
      <div class="flex-1 flex justify-center">
        <div class="relative">
          <div class="flex space-x-4">
            <%= link_to 'On Sale', on_sale_products_path, class: "text-gray-700 hover:text-black px-3 py-2 rounded-md text-sm font-medium" %>
            <%= link_to 'New Products', products_path(filter: 'new_products'), class: "text-gray-700 hover:text-black px-3 py-2 rounded-md text-sm font-medium" %>
            <div class="relative inline-block text-left">
              <button id="categoryButton" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" aria-haspopup="true" aria-expanded="true">
                Categories
                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 3a1 1 0 01.832.445l3.25 4.5a1 1 0 01-.832 1.555H6.75a1 1 0 01-.832-1.555l3.25-4.5A1 1 0 0110 3zm0 14a1 1 0 01-.832-.445l-3.25-4.5a1 1 0 01-.832-1.555h6.5a1 1 0 01.832 1.555l-3.25 4.5A1 1 0 0110 17z" clip-rule="evenodd" />
                </svg>
              </button>
              <div id="categoryDropdown" class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
                <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="categoryButton">
                  <%= link_to 'Wine', category_products_path(7), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
                  <%= link_to 'Beer', category_products_path(6), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
                </div>
              </div>
            </div>
            <button id="searchButton" class="text-gray-700 hover:text-black px-3 py-2 rounded-md text-sm font-medium">
              <svg class="h-5 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 4a8 8 0 110 16 8 8 0 010-16zm16 16l-4.35-4.35" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="flex items-center space-x-4">
        <%= link_to 'About', about_path, class: "text-gray-700 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium" %>
        <%= link_to 'Contact', contact_path, class: "text-gray-700 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium" %>
        <% if customer_signed_in? %>
          <div class="border-l border-gray-300 h-6 mx-2"></div>
          <%= link_to 'Profile', profile_path, class: "text-gray-700 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium" %>
          <%= link_to 'Logout', destroy_customer_session_path, method: :delete, data: { method: :delete }, class: "text-gray-700 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium" %>
          <%= link_to cart_path, class: "text-gray-700 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium" do %>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h14l1-2h-4.5m-2 0H8l-1 2h9l1 2H7l-1 2H4a1 1 0 01-1-1V4a1 1 0 011-1h1.6l.4 2M7 13h10l1-2H8l-1 2zm-1 0h10l1-2H7l-1 2z" />
            </svg>
          <% end %>
        <% else %>
          <%= link_to 'Sign Up', new_customer_registration_path, class: "text-gray-700 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium" %>
          <%= link_to 'Login', new_customer_session_path, class: "text-gray-700 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
